<p>Hello <%= @user.name %>,</p>

<p>It is time to nominate our Employee of the Month (<%= @periodd %>).</p>
<p>lease Note:</p>

<ul>
    <li>All nominations are anonymous</li>
    <li>Each person gets one nomination</li>
    <li>Provide comments with your nomination for it to count</li>
</ul>

<p>Please nominate your candidate <b> <%= link_to "Here", polls_url %> </b></p>

<h2>This is test mail</h2>
