<p>Hello <%= @user.name %></p>,

<p>It is time to nominate our Employee of the Month (1.month.ago.strftime("%B") << 1.month.ago.strftime("%Y")).</p>

<p>Please nominate your candidate <b> <%= link_to "Here", polls_path %> </b></p>

<h2>This is test mail</h2>
