<div class="container nav1">
	<div class="row">
  	<div class="col-md-12 nav2">
	    <ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
			  <li class="breadcrumb-item"><a href="inner_page.html">Downloads</a></li>
			</ol>
  	</div>
  </div>
</div> 
   
<div class="container">
	<!--- sama worker typing image top -->
  <div class="row">
    <div class="col-md-12"><%= image_tag("sama_worker_typing.jpg", class:"img-responsive")%></div>
  </div>
	
	<div class="row">
  	<div class="col-md-12 files_category_carrier">
	  <h4>Download Files By Category</h4>
      <div class="panel with-nav-tabs panel-default files_panel">
        <div class="panel-heading category_heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Category_a<span class="badge">6</span></a></li>
            <li><a href="#tab2default" data-toggle="tab">Category_b<span class="badge">3</span></a></li>
            <li><a href="#tab3default" data-toggle="tab">Category_c<span class="badge">2</span></a></li>
						<li><a href="#tab4default" data-toggle="tab">Category_d<span class="badge">3</span></a></li>
					</ul>
        </div>
      	<div class="panel-body file_contents">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
				      <div class="row files_carrier">
				      	<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_a</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
	              </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_b</i>
                </div>
                <div class="col-md-7"> 
		              <a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
		          </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
	                <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_c</i>
                </div>
                <div class="col-md-7"> 
		              <a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_d</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_e</i>
                </div>
		            <div class="col-md-7"> 
	                <a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
	              </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_f</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
						</div>
            <div class="tab-pane fade" id="tab2default">
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_a</i>
                </div>
	              <div class="col-md-7"> 
	                <a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
	              </div>
              </div>
						  <div class="row files_carrier">
							  <div class="col-md-5"> 
	                <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_b</i>
	              </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                	<i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_c</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
						</div>
            <div class="tab-pane fade" id="tab3default">
							<div class="row files_carrier">
								<div class="col-md-5"> 
	              	<i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_a</i>
	              </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
              <div class="row files_carrier">
              	<div class="col-md-5"> 
                	<i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_b</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
						</div>
            <div class="tab-pane fade" id="tab4default">
							<div class="row files_carrier">
								<div class="col-md-5"> 
                  <i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_a</i>
                </div>
                <div class="col-md-7"> 
	                <a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
							<div class="row files_carrier">
								<div class="col-md-5"> 
                	<i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_b</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
              <div class="row files_carrier">
              	<div class="col-md-5">
              		<i class="fa fa-folder-open category_file" aria-hidden="true"> File Name_c</i>
                </div>
                <div class="col-md-7"> 
                	<a href="http://en.unesco.org/inclusivepolicylab/sites/default/files/dummy-pdf_2.pdf" class="btn btn-lg btn-primary our_button" download><i class="fa fa-download" aria-hidden="true"></i> Download File</a>
                </div>
              </div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call to Action Section -->