<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, a new maintainance request has been made by <%= @repair.user_id %>
    <ul>
      <li><strong>Location: </strong> <%= @repair.location %>
      <li><strong>Category: </strong> <%= @repair.category %>
      <li><strong>Description: </strong> <%= @repair.description %>
    </ul>
    
    <p>Have a great day!</p>
  </body>
</html>
