<div class="container">
  <h2>Login</h2>
<div class="alert alert-danger text-center colouring_sama">
     <%= link_to "Login with your Samasource email", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-success'%>
</div>
</div>
