<div class="col-md-4 col-lg-3 col-sm-6 box-gallery">
  <div class="gallery-index" style="background-image: url('<%= gallery.gallery_attachments.first.photo.thumb.url unless gallery.gallery_attachments.empty? %>');">
    <%= link_to gallery_gallery_attachments_path(gallery), class: "link-to-gallery-show" do %>          
      <div>
        <h4>
          <span>
            <span><%= pluralize gallery.gallery_attachments.size, "photo" %></span>
          </span>
        </h4>
      </div>
      <h2><%= gallery.title %></h2>
    <% end %>
  </div>
</div>