<% @gallery.gallery_attachments.each do |pic| %>
  <div class="box gallery-show" id="picture-box">
  	<%= link_to pic.photo_url, class: "lightbox-show", data: { lightbox: @gallery.title.parameterize, title: @gallery.title } do %>
      <%= image_tag pic.photo.url %>
    <% end -%>	    

		<!-- uncommment this when association with user has been setup -->
		<!-- <div class="user-download">
			<div class="user">
				<span>
					<span>
						<a class="user-pic" href="#">
							<img alt="User avatar" src="https://gafapapas.files.wordpress.com/2014/07/stewe.jpeg?w=640">
						</a>
					</span>
			  <div class="user-name">
			  	<span>
			  		<a href="#">Victor Mutai</a>
			  	</span>
			  </div>
			  </span>
			</div>
			<div class="download">
				<%#= link_to pic.photo_url, rel: "nofollow", download: "" , target: "_blank" do %>
				
					<span>
						<svg version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false">
							<path d="M25.8 15.5l-7.8 7.2v-20.7h-4v20.7l-7.8-7.2-2.7 3 12.5 11.4 12.5-11.4z"></path>
						</svg>
					</span>
				
				<%# end -%>
			</div>
		</div> -->

	</div>
<% end %>