<!-- start of breadcrumbs -->
<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_url %></li>
    <li class="active">Galleries</li>
  </ol>
</div>  
 <!-- EOF breadcrumbs -->

<div class="container"> 
  <div class="row" id="gallery-box">
    <% cache @galleries do %>
      <%= render @galleries, cached: true %>
    <% end %>
  </div>
</div>

<%# unless @galleries.current_page == @galleries.total_pages %>
  <p id="view-more">
    <%#= link_to 'View More', url_for(page: @galleries.current_page + 1), remote: true %>
  </p>
<%# end %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to new_gallery_path, class: "btn-floating btn-large waves-effect waves-light blue page-corner", data: { toggle: "tooltip", placement: "left" }, title: "Add Gallery" do %>
  	<i class="material-icons">add</i>
  <% end %>
<% end %>