<!-- start of breadcrumbs -->
<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_url %></li>
    <li class="active">Galleries</li>
  </ol>
</div>  
 <!-- EOF breadcrumbs -->

<div class="container-fluid"> 
  <div class="row">
    <%= render @galleries %>
  </div>
</div>

<%# unless @galleries.current_page == @galleries.total_pages %>
  <p id="view-more">
    <%#= link_to 'View More', url_for(page: @galleries.current_page + 1), remote: true %>
  </p>
<%# end %>

<%= link_to 'New Gallery', new_gallery_path, class: "btn btn-primary btn-lg" %>