<%= link_to 'New Gallery', new_gallery_path, class: "btn btn-primary btn-lg" %>

<div class="container-fluid">
  <h2>Galleries</h2>  
  <div class="row">
    <%= render @galleries %>
  </div>
</div>

<%# unless @galleries.current_page == @galleries.total_pages %>
  <p id="view-more">
    <%#= link_to 'View More', url_for(page: @galleries.current_page + 1), remote: true %>
  </p>
<%# end %>