<div class="container">
	<h3><%= @gallery.title %></h3>

	<div id="pins" class="transitions-enabled">
		<%= render partial: 'gallery_attachment' %>
	</div>

	<%#= paginate @gallery_attachments %>
	<% unless @gallery_attachments.current_page == @gallery_attachments.total_pages %>
	  <p id="view-more">
	    <%= link_to 'View More', url_for(page: @gallery_attachments.current_page + 1), remote: true %>
	  </p>
	<% end %>
	

</div>


<%#= link_to "Edit", edit_gallery_attachment_path(pic) %>
<%#= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
<%#= link_to 'Edit', edit_gallery_path(@gallery) %>
<%#= link_to 'Back', galleries_path %>