/* Global Styling*/

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-hover:hover {
    opacity: 0.8;
}
/**navigation**/
.added_nav{
  background:#000;
  border-bottom:2px solid #ffd300;
}
marquee{
padding-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffd300;
}



/* Home Page Carousel */

header.carousel {
    height: 70%;
  border-bottom:2px solid #FFD300;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-caption h2 {
    background: #000;
    height: 35px;
    font-size: 10pt;
    padding: 5px;
    width: 55%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  background: rgba(0, 0, 0, 0.64);
  margin: auto;
  padding-top: 10px;
}


/*home page spacing after the slider*/


.spacing_after_slide{
  height:15px;
}


/**featured icons home*/


.colouring_sama{background:#FFD300 !important;}

/* Blog home heading*/

.blog_home_heading,.blog_home_sub_heading{color:#000;}
p.lead{color:#ffd300;}
.read_more_blog{background:#fff;border:1px solid #ccc;color:#000;}

/*Logo styling*/
.image_logo{-webkit-border-radius: 0px 0px 8px 8px;/**chrome**/
             border-radius: 0px 0px 8px 8px;/**mozilla**/
              border-bottom: 1px solid #ffd300;
        }
        

/*Quote section home page*/


.quote_section{
  background:#cccccc;
  -webkit-border-radius:10px;/*chrome*/
  border-radius:10px;/*Mozilla*/
  padding-bottom:10px;
}


/*Sliding stuff below::admin updates etc*/

.scoller{
    min-height: 5px;
    padding: 5px;
    margin-bottom: 18px;
    background-color: #ffd300;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/* Footer Styles */


footer {
    margin: 50px 0;
}


/* Responsive Styles */


@media(max-width:991px) {
  .navbar-nav {
    margin: 32.5px -15px;
    }
 /*Add styles in here**/
}

@media(max-width:767px) {
  .navbar-nav {
    margin: 32.5px -15px;
     }
    /*Add sty;es in here**/

    header.carousel .carousel {
        height: 70%;
    }
}

/***inner_page_css****/

.breadcrumb{
  margin-top:30px
}
.breadcrumb li{
  border: none;
}
.left_bar{
  border: 1px solid #ccc;
    float: left;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 5px;
  margin-bottom: 12px;
}

.nav1{
  font-family: "Helvetica"; 
  margin-top: 42px;
}
p{
  text-align:justify;
}
.breadcrumb li a{color:#000;}
.breadcrumb li:active{
  color:#ffd300 !important;
}

/****blog page css starts here ****/
.breadcrumb-item {border:none;}
.single_post{padding-bottom: 10px;}

ol {
  list-style-type: none;
  padding-right: 15px;
  padding-left: 18px;
}

.categories{
  border: solid rgba(128, 128, 128, 0.35) 1px;
  
}
.categories a{color:#000;}
.categories img{margin:auto;}

.post{
  margin-top: 0px;

}


li{
    line-height: 27px;
  border-bottom: solid rgba(128, 128, 128, 0.35) 1px;
}

.read{
  border:solid grey 1px;
  border-radius:5px;
  padding:10px;
  color:#000;
}

a:focus, a:hover {
    color: #23527c;
text-decoration: none;}

.intro_top{color:#FFD300;}

.the_author{ color:#000;}
.the_date{color:#000;}
  

/***commenting for blog***/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #FFD300;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.panel-default {
    border-color: #FFD300;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
}
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  
.comment-list .comment-post {
  margin-top: 6px;
}

.color_btn{
  background:#fff;
      border-color: #FFD300;
    color:#000;
}
textarea{
border-radius:5px;
-webkit-border-radius:5px;
padding-left: 10px;
        }

.likes
{ font-size:30px;}

.single_post_full{
  padding-bottom:0px;
}
.number_likes , .number_dislikes{
  font-size:20px;
}

.btn-success:hover {
    color: black;
    background-color: white;
    border-color: #FFD300;
}

/***voting Page***/

/**typing effect**/
.type_container{
	height:80px;
}

.btn-warning {
    color: #000;
    background-color: #ffd300;
    border-color: #eea236;
}

/****voting css for javascript***/
.bv-form .help-block{margin-bottom:0}.bv-form .tooltip-inner{text-align:left}.nav-tabs li.bv-tab-success>a{color:#ffd300}.nav-tabs li.bv-tab-error>a{color:#ffd300}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
#success_message{ display: none;}

rect{background:#000;}

/****navbar user image***/
a.user-profile {
    color: #5E6974 !important
}
.navbar-inverse .navbar-link{
    color: #ffd300;
}
.navbar-inverse .navbar-link:hover{
    color: #000;
}
.user-profile img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -5px
}


/*** floating button css***/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 20px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 29px;
}
.btn-group .btn-fab{
  position: fixed !important;
  right: 20px;
}
#main{
  bottom: 20px;
}
#mail{
  bottom: 80px
}
#sms{
  bottom: 125px
}
#autre{
  bottom: 170px
}
/*** floating button css***/
