/* Global Styling*/

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-hover:hover {
    opacity: 0.8;
}
/**navigation**/
.added_nav{
	background:#000;
	border-bottom:2px solid #ffd300;
}
marquee{
padding-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffd300;
}



/* Home Page Carousel */

header.carousel {
    height: 70%;
	border-bottom:2px solid #FFD300;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-caption h2 {
    background: #000;
    height: 35px;
    font-size: 10pt;
    padding: 5px;
    width: 55%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	background: rgba(0, 0, 0, 0.64);
	margin: auto;
	padding-top: 10px;
}


/*home page spacing after the slider*/


.spacing_after_slide{
	height:15px;
}


/**featured icons home*/


.colouring_sama{background:#FFD300 !important;}

/* Blog home heading*/

.blog_home_heading,.blog_home_sub_heading{color:#000;}
p.lead{color:#ffd300;}
.read_more_blog{background:#fff;border:1px solid #ccc;color:#000;}

/*Logo styling*/
.image_logo{-webkit-border-radius: 0px 0px 8px 8px;/**chrome**/
             border-radius: 0px 0px 8px 8px;/**mozilla**/
              border-bottom: 1px solid #ffd300;
			  }
			  

/*Quote section home page*/


.quote_section{
	background:#cccccc;
	-webkit-border-radius:10px;/*chrome*/
	border-radius:10px;/*Mozilla*/
	padding-bottom:10px;
}


/*Sliding stuff below::admin updates etc*/

.scoller{
    min-height: 5px;
    padding: 5px;
    margin-bottom: 18px;
    background-color: #ffd300;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/* Footer Styles */


footer {
    margin: 50px 0;
}


/* Responsive Styles */


@media(max-width:991px) {
  .navbar-nav {
    margin: 32.5px -15px;
    }
 /*Add styles in here**/
}

@media(max-width:767px) {
	.navbar-nav {
    margin: 32.5px -15px;
     }
    /*Add sty;es in here**/


    header.carousel .carousel {
        height: 70%;
    }
}
