
h1, h3 {
  text-align: center;
}

.box-gallery {
  margin-bottom: 20px;
}

.gallery-index {  
  border-radius: 7px;
  height: 200px;
  background-size: cover;
}

.link-to-gallery-show {
  padding: 28px 30px 30px;
  text-decoration: none;
  color: white;
  float: left;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(0,0,0,.25);
}

.link-to-gallery-show:hover {
  color: white!important;
  text-decoration: none;
}

.link-to-gallery-show:visited {
  color: white!important;
  text-decoration: none;
}

.link-to-gallery-show div {
  margin-bottom: 2px;
}

.link-to-gallery-show div h4 {
  font-size: 12px;
  letter-spacing: .02em;
  margin: 0 0 1px;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  opacity: .6;
  font-weight: 400;
}

.link-to-gallery-show h2 {
  font-size: 23px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  line-height: 1.3;
  font-weight: 600;
}
