<div class="container nav1">
    <div class="row">
        <div class="col-md-12 nav2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
                <li class="breadcrumb-item">Suggestion box</li>
            </ol>
        </div>
   </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-12"><%= image_tag("sama_worker_typing.jpg", class:"img-responsive")%></div>
</div>

</br>

<div class="row">
    <div class="col-md-7">
    
      <!--Form-->
      <%= render 'form', suggestion: @new %>
      <!--EOF Form--> 
    
</div>

 <div class="col-md-5"><%= image_tag("udaku_sama.png", class:"img-responsive")%></div>

</div> 


     <!-- Call to Action Section -->
